@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --main-color: #24B5FC; 
    --secondary-color: #002c8f;
    --black: #000;
    --white: #fff;
    --grey: #666; 
    --border-radius: 0.5rem;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
*{
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
*::selection{
    color: var(--white);
    background-color: var(--main-color);
}
body{
    background-color: var(--white);
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section{
    padding: 3rem 5%;
}
::-webkit-scrollbar{
    width: 0.8rem;
}
::-webkit-scrollbar-track{
    background: var(--secondary-color);
}
::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
.heading{ 
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.heading span{
    letter-spacing: 0.2rem;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main-color);
}
.heading h2{ 
    font-size: 4rem;  
    font-weight: 600;
    color: var(--secondary-color);
    letter-spacing: 0.1rem;
    line-height: 1;
    padding-bottom: 0.5rem;
}
.heading img{
    height: 1.5rem;
    object-fit: cover;
}
.linear-bg .heading h2{
    color: var(--white);
}
.btn{
	position: relative;
	display: inline-block;
	border: 0.2rem solid var(--main-color);
	font-family: 'Lato', sans-serif;
	pointer-events: auto;
	cursor: pointer; 
	padding: 1.5rem 3rem; 
	font-size: 1.8rem;
	font-weight: 500;
    color: var(--white);
	background: var(--main-color);
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn:after{
	position: absolute;
	content: "";
	height: 0;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: var(--secondary-color);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn:hover:after{
	bottom: 0;
	height: 100%;
}
.logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}
.logo img{
    height: 5.5rem;
    object-fit: cover;
}
.logo h3{
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--white);
    line-height: 1;
}
.logo p{
    font-size: 1.5rem;
    color: var(--white);
    line-height: 1.5;
}
.page-title{
    position: relative;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../../assets/images/PageTitle/PageTitle.png");
    background:         linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../../assets/images/PageTitle/PageTitle.png");
    min-height: 45rem;
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0rem 5%;
    padding-top: 8rem;
}
.page-title .title{
    border-left: 0.5rem solid var(--main-color);
    padding-left: 1rem;
    margin-bottom: 1rem;
}
.page-title .title h2{
    color: var(--white);
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
}
.page-title .link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
}
.page-title .link a{
    font-weight: 600;
    color: var(--white);
}
.page-title .link a:hover{
    color: var(--main-color);
}
.page-title .link i{
    color: var(--white);
}
.page-title .link span{
    font-weight: 500;
    color: var(--main-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.header .header-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 5%;
    background-color: transparent;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
}
.header.active .header-1{
    display: none;
}
.header .header-contacts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
}
.header .header-contacts li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
    gap: 1rem;
    font-size: 1.6rem;
    color: var(--white);
}
.header .header-contacts li a{
    color: var(--white);
}
.header .header-contacts li i{
    color: var(--main-color);
}
.header .header-contacts span{
    text-transform: none;
}
.header .social-contacts{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}
.header .social-contacts li a{
    height: 3rem;
    width: 3rem;
    font-size: 1.6rem;
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header .social-contacts li a:hover{
    color: var(--main-color);
}
.header .header-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 8rem;
    padding: 0rem 5%;
}
.header.active .header-2{
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.header #menu-btn{
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}
.header #menu-btn:hover{
    color: var(--main-color);
}
.header .navbar{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    gap: 1.8rem;
}
.mobile-menu{
    display: none;
}
.header .container{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}
.header .dropdown-menu{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header .navbar .nav-btn{
    display: inline-block;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    gap: 0.5rem;
}
.header .navbar .nav-btn:hover{
    color: var(--main-color);
}
.header .dropdown-content{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    width: 20rem;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    -webkit-transform: scale(0); 
            transform: scale(0);
    -webkit-transition:  all 0.5s;
    -moz-transition:  all 0.5s;
    -o-transition:  all 0.5s;
    transition:  all 0.5s;
    z-index: 1000;
    border-radius: var(--border-radius);
    border-top: 0.4rem solid var(--main-color);
    overflow: hidden;
}
.header .dropdown-menu:hover .dropdown-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1);
            transform: scale(1);
}
.header .dropdown-content a{
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
    padding: 1rem;
    cursor: pointer;
}
.header .dropdown-content a:hover{
    color: var(--white);
    background-color: var(--main-color);
}
.header .icon-container .icon{
    font-size: 1.8rem;
    color: var(--white);
    padding: 0.5rem;
    cursor: pointer;
}
.header .icon-container .icon:hover{
    color: var(--main-color);
}
.header .icon-container #search-btn{
    display: none;
}
.search-container{
    position: absolute;
    top: 100%;
    right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem;
    background: var(--white);
    width: 50rem;
    padding: 1rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    transform-origin: right;
    -webkit-transition: -webkit-transform 0.5s linear;
            transition: -webkit-transform 0.5s linear;
            transition: transform 0.5s linear;
            transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}
.search-container.active{
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
.search-container input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--black);
    font-size: 1.8rem;
    text-transform: none;
}
.search-container input::placeholder{
    text-transform: capitalize;
}
.search-container .fas{
    color: var(--secondary-color);
    font-size: 2rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
}
.search-container .fas:hover{
    color: var(--main-color);
    cursor: pointer;
}
.footer{
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../../assets/images/Background/Footer.png");
    background:         linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../../assets/images/Background/Footer.png");
    background-position: center;
    background-size: cover;
}
.footer .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
    gap: 3rem;
    padding: 2rem 5%;
}
.footer-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 22rem; 
        flex: 1 1 22rem; 
}
.footer-item:first-child{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem; 
        flex: 1 1 30rem;
}
.footer-item .footer-heading{
    margin-bottom: 1rem;
}
.footer-item .footer-heading h2{ 
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}
.footer-item .footer-heading img{
    height: 1.5rem;
    object-fit: cover;
}
.footer-item > p{
    padding-top: 1rem;
    font-size: 1.5rem;
} 
.footer-item p{
    color: var(--white); 
    font-size: 1.6rem;
    line-height: 1.5;
}
.footer-item .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.footer-item .social a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-item .social a i{
    height: 4rem;
    width: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--white);
    background-color: var(--main-color);
    font-size: 1.5rem;
    border-radius: 0.5rem;
}
.footer-item .social a:hover i{
    background-color: var(--secondary-color);
}
.footer-item .info p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.footer-item .info a{ 
    font-size: 1.6rem;
    color: var(--white);
}
.footer-item .links p:hover a{
    color: var(--main-color);
}
.footer-item .links p i{
    color: var(--main-color);
    font-size: 1.5rem;
}
.footer-item .connect i{
    font-size: 1.4rem;
    color: var(--main-color);
    height: 3rem;
    width: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-item .gmail{
    text-transform: none;
}
.footer .content{
    text-align: center;
    padding: 2rem 0;
    background-color: var(--main-color);
}
.footer .content p{
    font-size: 1.7rem;
    color: var(--white);
}
.contactenr{
    color: gray;
}
.scroll-top{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 5rem;
    width: 5rem;
    font-size: 2.2rem;
    color: var(--white);
    background: var(--main-color);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s; 
    transition: all 0.2s;
    z-index: 900;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.scroll-top:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}
.form{
    background: var(--white);
}
.form h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--black);
    padding-bottom: 0.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: var(--white) !important;
    -webkit-transition: background-color 5000s ease-in-out 0s;
            transition: background-color 5000s ease-in-out 0s;
}
.form .input-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.form .input-box .box{
    width: 49%;
}
.form .box{
    width: 100%;
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 1.5rem; 
    margin: 0.7rem 0;
    border: 0.15rem solid rgba(0, 0, 0, 0.1);
    text-transform: none;
}
.form .box::placeholder{
    text-transform: capitalize;
}
.form .box:focus{
    border-color: var(--main-color);
}
.form textarea{
    resize: none;
    height: 20rem;
}
.form .btn{
    width: 100%;
    overflow: hidden;
    margin: 1rem 0;
}
.swiper-pagination-bullet{ 
    height: 1rem;
    width: 3rem;
    background: #999;
    border: var(--border);
    opacity: 0.7;
    border-radius: 0rem;
    -webkit-box-shadow: var(--box-shadow);
     box-shadow: var(--box-shadow);
}
.swiper-pagination-bullet-active{
    width: 6rem;
    background: var(--main-color);
    opacity: 0.9;
}
.sidebar-heading h2{
    word-spacing: 1px;  
    font-size: 2rem; 
    font-weight: 500;
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 1rem 1.5rem;
    text-transform: uppercase;
} 
.sidebar{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 28rem; 
        flex: 1 1 28rem;  
}
.sidebar .sidebar-item{
    margin-bottom: 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    overflow: hidden;
}
.sidebar .box-container{
    padding: 1.5rem;
}
.sidebar .search .input-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
}
.sidebar .search .input-box input{
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
}
.sidebar .search .input-box input:focus{
    border-color: var(--main-color);
}
.sidebar .search .input-box label{
    color: var(--white);
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.sidebar .search .input-box label:hover{
    background-color: var(--main-color);
}
.sidebar .category a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: var(--secondary-color);
    border-left: 0.5rem solid var(--main-color);
    margin-bottom: 1rem;
    padding: 1rem;
}
.sidebar .category a:last-child{
    margin-bottom: 0;
}
.sidebar .category a span{
    font-size: 1.7rem;
    color: var(--white);
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}
.sidebar .category a span i{
    font-size: 1.8rem;
    color: var(--main-color);
}
.sidebar .category a p{
    font-size: 1.5rem;
    color: var(--white);
}
.sidebar .category a:hover{
    background-color: var(--main-color);
}
.sidebar .category a:hover i{
    color: var(--white);
}
.sidebar .post-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.sidebar .post-item:last-child{
    margin-bottom: 0;
}
.sidebar .post-item img{
    height: 8rem;
    width: 10rem;
    object-fit: cover;
}
.sidebar .post-item a{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
}
.sidebar .post-item a:hover{
    color: var(--main-color);
}
.sidebar .post-item .price{
    padding-top: 0.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--main-color);
}
.sidebar .post-item .price span{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--grey);
    text-decoration: line-through;
    padding-left: 0.2rem;
}
.sidebar .post-item h3{
    padding-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
}
.sidebar .post-item h3 i{
    color: var(--main-color);
}
.sidebar .post-item h3 span{
    font-weight: 400;
    color: var(--grey);
}
.sidebar .tags .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.7rem;
}
.sidebar .tag-item{
    color: var(--white);
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
}
.sidebar .tag-item:hover{
    background-color: var(--main-color);
    cursor: pointer;
}
.pre-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 100000;
    -webkit-transition: none;
            transition: none;
}
.pre-loader img{
    height: 10rem;
    width: 10rem;
}
.pre-loader.fade-out{
    top: -110%;
}
.pre-loader #loader{
    display: block;
    position: relative;
    width: 20rem;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pre-loader #loader:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--main-color);
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
}
.pre-loader #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--main-color);
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.home{ 
    padding: 0;
    height: 1px;
    min-height: 100vh;
    position: relative;
}
.home-slider{ 
    position: relative; 
} 
.home-slider .swiper-button-next,
.home-slider .swiper-button-prev{
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1rem;
    height: 5rem;
    width: 5rem;
    padding: 2rem;
}
.home-slider:hover .swiper-button-next,
.home-slider:hover .swiper-button-prev{
    opacity: 1;
}
.home-slider .swiper-button-next::after,
.home-slider .swiper-button-prev::after{
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center; 
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.home-slider .swiper-button-next:hover,
.home-slider .swiper-button-prev:hover{
    background-color: var(--secondary-color);
}
.home-item{
    min-height: 100vh;
}
.home-item img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.home-item .content{ 
    padding: 2rem 5%;
    padding-top: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    background:         linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}
.home-item .content .text{
    width: 70rem;
    text-align: center;
}
.home-item .content h5{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.1;
    color: var(--main-color);
    text-transform: uppercase;
}
.home-item .content h3{
    font-size: 6rem;
    font-weight: 550;
    line-height: 1.1;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    color: var(--white);
}
.home-features{
    padding-top: 6rem;
}
.counting{
    width: 100%;
    padding: 3rem 5%;
    margin: 1rem 0;
    min-height: 15rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    background: -webkit-linear-gradient(rgba(0, 44, 143, 0.9), rgba(0, 44, 143, 0.9)), url("../../assets/images/Background/Counter.png");
    background:         linear-gradient(rgba(0, 44, 143, 0.9), rgba(0, 44, 143, 0.9)), url("../../assets/images/Background/Counter.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.counting .box{
    text-align: center;
    padding: 2rem;
}
.counting .box i{
    color: var(--white);
    font-size: 4.5rem;
    padding-bottom: 1rem;
}
.counting .box .count{
    color: var(--white);
    font-size: 4rem;
    padding-bottom: 0.5rem;
}
.counting .box h3{
    font-size: 2rem;
    color: var(--white);
    font-weight: 400;
}
.products .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.water-composition{
    background: -webkit-linear-gradient(rgba(0, 44, 143, 0.9), rgba(0, 44, 143, 0.9)), url("../../assets/images/Background/Composition.png");
    background:         linear-gradient(rgba(0, 44, 143, 0.9), rgba(0, 44, 143, 0.9)), url("../../assets/images/Background/Composition.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.water-composition .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}
.water-composition .water-item{
    padding: 1.5rem 0;
}
.water-composition .water-item h3{
    font-size: 2.5rem;
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5rem;
}
.water-composition .water-item h3 span{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--white);
    background-color: var(--main-color);
}
.water-composition .water-item h5{
    font-size: 2rem;
    color: var(--main-color);
}
.water-composition .water-item p{
    font-size: 1.6rem;
    color: var(--white);
}
.water-composition .box-1,
.water-composition .box-2{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
        flex: 1 1 30rem; 
}
.water-composition .box-1 .water-item{
    text-align: right;
}
.water-composition .box-1 .water-item h3{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.water-composition .image{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
        flex: 1 1 30rem;
}
.water-composition .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.blog.main .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1rem;
}
.sponsor-item{
    padding: 2rem;
}
.sponsor-slider img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about-us{
    padding: 2rem 0;
}
.about .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4rem;
}
.about .image{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.about .sub-image1{
    height: 50rem;
    width: 85%;
    position: relative;
}
.about .sub-image1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.about .sub-image1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about .sub-image2{
    height: 40rem;
    width: 40rem;
    -webkit-transform: translate(-30rem, 5rem);
            transform: translate(-30rem, 5rem);
    margin-right: -30rem;
    position: relative;
}
.about .sub-image2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about .experience-container{
    position: absolute;
    top: 0;
    right: 10%;
    -webkit-transform: translate(0 ,-50%);
            transform: translate(0 ,-50%);
    height: 17rem;
    width: 17rem;
    border-radius: 0.5rem;
}
.about .experience{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding: 1rem 3.5rem;
    padding-bottom: 3rem;
    color: var(--white);
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    line-height: 1.2;
}
.about .experience span{
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.4;
}
.about .content{  
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
}
.about .heading{
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    padding-bottom: 1rem;
}
.about .content h3{
    font-size: 4rem;
    font-weight: 600;
    color: var(--secondary-color);
    line-height: 1.2;
    padding-bottom: 0.5rem;
}
.about .content p{
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    font-weight: 450;
    color: var(--grey);
    line-height: 1.8;
}
.about .about-points{
    list-style-type: none;
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
}
.about .about-points li i{
    height: 5rem;
    width: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 3.5rem;
    color: var(--main-color);
}
.about .about-points li h5{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.about .about-points li p{
    font-size: 1.4rem;
    color: var(--grey);
}
.team-single .box-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
}
.team-single .image{ 
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem; 
        flex: 1 1 15rem; 
    height: 50rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.team-single .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.team-single .information{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50rem;
        flex: 1 1 50rem;
}
.team-single .information h3{
    color: var(--black);
    font-size: 3rem;
    font-weight: 600;
}
.team-single .information p{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}
.team-single .information .team-about{
    padding-top: 1.5rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.team-single .team-about .text{
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: var(--grey);
    line-height: 1.7;
}
.team-single .team-contacts{
    padding: 2rem 0;
}
.team-single .team-contacts li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
}
.team-single .team-contacts h4{
    width: 15rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--black);
}
.team-single .team-contacts i{
    font-size: 1.6rem;
    color: var(--main-color);
    padding-right: 0.5rem;
}
.team-single .team-contacts span{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
        flex: 1 1 20rem; 
    font-size: 1.6rem;
    color: var(--grey);
    text-transform: none;
}
.team-single .icon-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center; 
    -ms-flex-align: center;
    align-items: center;
    gap: 0.7rem;
}
.team-single .icon-container a{
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;  
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--main-color);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.team-single .icon-container a:hover{
    background-color: var(--secondary-color);
}
.testimonial{
    background: -webkit-linear-gradient(rgba(0, 44, 143, 0.9), rgba(0, 44, 143, 0.9)), url("../../assets/images/Background/Testimonials.png");
    background:         linear-gradient(rgba(0, 44, 143, 0.9), rgba(0, 44, 143, 0.9)), url("../../assets/images/Background/Testimonials.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.testimonial-slider{
    position: relative;
    padding-bottom: 6rem;
    margin: 0rem 15rem;
}
.testi-item{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 3rem;
}
.testi-item .image{
    position: relative;
    height: 8rem;
    width: 8rem;
}
.testi-item  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 0.5rem solid var(--main-color);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.testi-item .image i{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.5rem;
    width: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--white);
    background-color: var(--main-color);
    border-radius: 50%;
}
.testi-item p{
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 2rem 0;
    color: var(--white);
}
.testi-item .text h4{
    font-size: 2.2rem;
    color: var(--white);
}
.testi-item .text h6{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
}
.testi-item .fa-quote-right{
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    font-size: 8rem;
    color: var(--white);
}
.faq{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
}
.faq .accordion-container{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50rem;
        flex: 1 1 50rem;
}
.faq .accordion{
    margin-bottom: 1.5rem;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-left: 0.5rem solid var(--main-color);
    overflow: hidden;
    border-radius: var(--border-radius);
} 
.faq .accordion:last-child{
    margin-bottom: 0rem;
}  
.faq .accordion .accordion-heading{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    cursor: pointer;
    overflow: hidden;
    min-height: 6rem;
}
.faq .accordion .accordion-heading h3{
    font-size: 2rem;
    padding: 1.5rem;
}
.faq .accordion .accordion-heading i{
    width: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--white); 
    font-size: 1.6rem;
}
.faq .accordion.active .accordion-content{
    display: block;
}
.faq .accordion-content{
    padding: 1.5rem;
    font-size: 1.5rem;
    line-height: 2;
    color: var(--grey);
    display: none;
}
.faq .image{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 35rem;
        flex: 1 1 35rem;
    height: 50rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.faq .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.features .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1rem;
}
.feature-item{
    text-align: center;
    padding: 2.5rem 2rem;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border-bottom: 0.4rem solid var(--secondary-color);
}
.feature-item i{
    height: 6rem;
    width: 6rem;
    background-color: var(--secondary-color);
    font-size: 3rem;
    border-radius: 50%;
    color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.feature-item h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    padding-bottom: 0.5rem;
}
.feature-item p{
    font-size: 1.5rem;
    color: var(--grey);
    line-height: 1.7;
}
.process .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1rem;
}
.process-item{
    text-align: center;
    padding: 3rem;
    border: var(--border);
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.process-item .image{
    position: relative;
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
}
.process-item .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.process-item .image span{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 0.5rem 1.5rem;
    -webkit-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
}
.process-item .content{
    padding-top: 3rem;
}
.process-item h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--black);
    padding-bottom: 0.2rem;
}
.process-item p{
    font-size: 1.5rem;
    color: var(--grey);
    line-height: 1.6;
}
.services .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    gap: 1rem;
}
.service-item{
    text-align: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.service-item .image{
    height: 20rem;
}
.service-item .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.service-item .content{
    padding: 2rem;
}
.service-item h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--black);
    padding-bottom: 0.2rem;
}
.service-item h3:hover{
    color: var(--main-color);
}
.service-item p{
    font-size: 1.5rem;
    color: var(--grey);
    line-height: 1.7;
}
.service-single{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end; 
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 2rem;
} 
.service-info{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 75rem;
        flex: 1 1 75rem;
}
.service-info .image{
    height: 40rem; 
    overflow: hidden;
    border-radius: var(--border-radius);
}
.service-info .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.service-info .main-heading{
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--black);
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.service-info p{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--grey);
    line-height: 1.5;
}
.service-info .sub-heading{
    display: inline-block;
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.service-info .service-benefit{
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 2rem;
}
.service-info .service-features{
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
    gap: 2rem;
}
.service-info .service-benefit .box-container,
.service-info .service-features .box-container{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem; 
        flex: 1 1 30rem; 
}
.service-info .sub-image{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem; 
        flex: 1 1 30rem; 
}
.service-info .sub-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.service-info ul{
    list-style: none;
}
.service-info ul li{
    padding-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
    gap: 1rem;
}
.service-info ul li i{ 
    color: var(--main-color);
    font-size: 1.4rem;
}
.projects .controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.projects .controls .button{
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--secondary-color);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.projects .controls .button:hover,
.projects .controls .button.active{
    cursor: pointer;
    background-color: var(--main-color);
}
.projects .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(33rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
    grid-gap: 1rem;
}
.project-item{
    position: relative;
    height: 30rem;
}
.project-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius); 
    overflow: hidden;
}
.project-item .content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    padding: 2rem;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    opacity: 0;
}
.project-item:hover .content{
    opacity: 1;
}
.project-item .btn-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.project-item .btn-container a{
    height: 4rem;
    width: 4rem;
    font-size: 1.7rem;
    color: var(--white);
    background-color: var(--main-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    border-radius: var(--border-radius);
}
.project-item .btn-container a:hover{
    background-color: var(--secondary-color);
}
.project-item .content h4{
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: var(--white);
    line-height: 1.4;
}
.project-item .content h4:hover{
    color: var(--main-color);
}
.project-item .content h6{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main-color);
}
.project-single .project-intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 1rem;
}
.project-info .image{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 75rem;
        flex: 1 1 75rem;
    border-radius: var(--border-radius);
    height: 45rem;
    overflow: hidden;
}
.project-info .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.project-single .project-details{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25rem; 
        flex: 1 1 25rem;  
    padding: 0rem 4rem;
    padding-top: 3rem;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.project-single .project-details .sub-heading{
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--white);
    padding-bottom: 1.5rem;
    line-height: 1;
}
.project-single .detail-item{
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
}
.project-single .detail-item i{
    height: 2rem;
    width: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
    font-size: 1.4rem;
    color: var(--white);
}
.project-single .detail-item .detail-content{
    border-left: 0.15rem solid var(--white);
    padding-left: 1rem;
}
.project-single .detail-item h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white);
    line-height: 1;
    padding-bottom: 0.5rem;
}
.project-single .detail-item .detail-content p{
    font-size: 1.6rem;
    font-weight: 400;
    color: #f7f7f7;
    line-height: 1;
}
.project-single .detail-item p.website{
    text-transform: none;
}
.project-info .content{
    padding-top: 2rem;
}
.project-info .main-heading{
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--black);
    padding-bottom: 1rem;
}
.project-info .important{
    color: var(--black);
    font-weight: 600;
}
.project-info .content p{
    padding-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.5;
}
.project-info .sub-heading{
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--black);
    padding-bottom: 0.5rem;
}
.project-info .challenges{
    padding: 2rem 0;
}
.project-info .challenges .box-container{
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
}
.project-info .challenges ul{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
}
.project-info .project-solution{
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
    gap: 2rem;
}
.project-info .project-result{
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 2rem;
}
.project-info .project-solution .box-container,
.project-info .project-result .box-container{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem; 
}
.project-info .sub-image{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
        flex: 1 1 40rem; 
}
.project-info .sub-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}
.project-info ul{
    list-style: none;
}
.project-info ul li{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--grey);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
    gap: 1rem;
}
.project-info ul i{ 
    color: var(--main-color);
    font-size: 1.4rem;
}
.blog-item{
    position: relative;
    margin-bottom: -1rem;
}
.blog-item .image{
    height: 25rem;
    position: relative;
}
.blog-item .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} 
.blog-item .category{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display: inline-block;
    font-size: 1.6rem;
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 0.7rem 1.2rem;
}
.blog-item .content{
    padding: 1.5rem 2rem;
    background-color: var(--white);
    width: 90%;
    -webkit-transform: translate(5%, -10%);
            transform: translate(5%, -10%);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.blog-item .details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.blog-item h3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.7rem;
}
.blog-item h3 i{
    font-size: 1.6rem;
    color: var(--main-color);
}
.blog-item h3 span{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--grey);
}
.blog-item .content .main-heading{
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--black);
    line-height: 1.3;
    padding-bottom: 0.5rem;
}
.blog-item .content .main-heading:hover{
    color: var(--main-color);
}
.blog-item p{
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    font-weight: 450;
    color: var(--grey);
    line-height: 1.6;
}
.contact .heading{ 
    padding-bottom: 2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
}
.contact .heading h2{
    color: var(--white);
}
.contact iframe{
    height: 40rem;
    width: 100%;
    border-radius: var(--border-radius);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}
.contact-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
    margin: 4rem;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    -webkit-transform: translateY(-20rem);
            transform: translateY(-20rem);
    margin-bottom: -18rem;
}
.contact .contact-info .info-item{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25rem;
        flex: 1 1 25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
}
.contact .contact-info .info-item i{
    height: 7rem;
    width: 7rem;
    font-size: 3rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--white);
}
.contact .contact-info .info-item h3{
    font-size: 2.5rem;
    color: var(--black);
    padding-bottom: 0rem;
}
.contact .contact-info .info-item p{
    font-size: 1.4rem;
    color: var(--grey);
    padding-bottom: 0.5rem;
}
.contact .contact-info .info-item p.gmail{
    text-transform: none;
}
.contact-container{
    padding: 4rem;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
}
.contact-form input:-webkit-autofill,
.contact-form input:-webkit-autofill:hover,
.contact-form input:-webkit-autofill:focus,
.contact-form input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--white);
    -webkit-transition: background-color 5000s ease-in-out 0s;
            transition: background-color 5000s ease-in-out 0s;
}
.contact-form .input-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.contact-form .input-box .box{
    width: 49.5%;
}
.contact-form .box{
    width: 100%;
    font-size: 1.6rem;
    color: var(--white);
    border: 0.12rem solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    text-transform: none;
    padding: 1rem 1.5rem;
}
.contact-form .box:focus{
    border-color: var(--main-color);
}
.contact-form .box::placeholder{
    text-transform: capitalize;
    color: var(--white);
}
.contact-form textarea.box{
    height: 18rem;
    resize: none;
    margin-bottom: 1rem;
}
.contact-form .alert{
    font-size: 2rem;
    color: var(--white);
    padding-left: 1rem;
}